body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

a:link {
  color: #0000FF;
}

a:visited {
  color: #0000C0;
}

nav a {
  display: inline-block;
  padding: 10px 10px;
  background-color: #0F0F0F;
  color: #FFFFFF;
  border: 1px solid white;
  margin: 10px;
}

nav a:hover {
  background-color: #404040;
}
